/**
 * Form Components
 *
 * @package Aggressive_Apparel
 */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='date'],
textarea,
select {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--wp--preset--color--border);
  font-family: inherit;
  font-size: 1rem;
  transition: border-color var(--transition-base);

  &:focus {
    border-color: var(--wp--preset--color--primary);
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--wp--preset--color--accent);
    outline-offset: 2px;
  }
}

textarea {
  min-height: 120px;
  resize: vertical;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

