<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	failOnRisky="true"
	failOnWarning="true"
	verbose="false"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix=".php">tests/unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory suffix=".php">tests/integration</directory>
		</testsuite>
		<testsuite name="security">
			<directory suffix=".php">tests/security</directory>
		</testsuite>
		<testsuite name="accessibility">
			<directory suffix=".php">tests/accessibility</directory>
		</testsuite>
		<testsuite name="performance">
			<directory suffix=".php">tests/performance</directory>
		</testsuite>
	</testsuites>

	<coverage
		includeUncoveredFiles="true"
		processUncoveredFiles="true"
		pathCoverage="false"
		ignoreDeprecatedCodeUnits="true"
		disableCodeCoverageIgnore="true"
	>
		<include>
			<directory suffix=".php">includes</directory>
		</include>
		<exclude>
			<directory>includes/vendor</directory>
		</exclude>
	</coverage>

	<php>
		<ini name="display_errors" value="1" />
		<ini name="error_reporting" value="-1" />
		<ini name="memory_limit" value="-1" />

		<!-- WordPress test environment variables -->
		<env name="WP_TESTS_DOMAIN" value="localhost" />
		<env name="WP_TESTS_EMAIL" value="admin@example.org" />
		<env name="WP_TESTS_TITLE" value="Test Blog" />
		<env name="WP_PHP_BINARY" value="php" />
		<env name="WPLANG" value="" />

		<!-- Set to true to skip database creation/installation -->
		<env name="WP_TESTS_SKIP_INSTALL" value="false" />

		<!-- Theme directory name -->
		<const name="WP_TESTS_THEME" value="aggressive-apparel" />
	</php>

	<logging>
		<log type="coverage-html" target="tests/coverage"/>
		<log type="coverage-clover" target="tests/coverage.xml"/>
	</logging>
</phpunit>

