/**
 * Nav Menu Block Editor Styles
 *
 * @package Aggressive_Apparel
 */

.wp-block-aggressive-apparel-nav-menu {

  /* Ensure menu displays properly in editor. */
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

