/**
 * Mega Menu Content Block Editor Styles
 *
 * @package Aggressive_Apparel
 */

.wp-block-aggressive-apparel-mega-menu-content {
  min-height: 100px;
  padding: 1rem;
  background: var(--wp--preset--color--white, #fafafa);
  border-radius: 4px;

  &::before {
    content: "Mega Menu Content";
    display: block;
    margin-bottom: 0.75rem;
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.4;
  }
}

