/**
 * Menu Toggle Block Editor Styles
 *
 * Hidden unless selected for a clean editor experience.
 *
 * @package Aggressive_Apparel
 */

.wp-block-aggressive-apparel-menu-toggle:not(.is-toggle-active) {
  display: none !important;
}

.wp-block-aggressive-apparel-menu-toggle.is-toggle-active {
  display: flex !important;
}

