<!-- wp:template-part {"slug":"header","theme":"aggressive-apparel","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"var:preset|spacing|fluid-8","left":"var:preset|spacing|fluid-8"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="padding-right:var(--wp--preset--spacing--fluid-8);padding-left:var(--wp--preset--spacing--fluid-8)"><!-- wp:woocommerce/breadcrumbs {"fontSize":"x-small","style":{"typography":{"textTransform":"uppercase"}}} /-->

<!-- wp:query-title {"type":"archive","showPrefix":false} /-->

<!-- wp:aggressive-apparel/store-notices /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|4"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:aggressive-apparel/filter-toggle {"iconOnly":true} /-->

<!-- wp:aggressive-apparel/filter-active-bar /--></div>
<!-- /wp:group -->

<!-- wp:woocommerce/catalog-sorting /--></div>
<!-- /wp:group -->

<!-- wp:woocommerce/product-collection {"queryId":11,"query":{"perPage":12,"pages":0,"offset":0,"postType":"product","order":"desc","orderBy":"date","search":"","exclude":[],"inherit":true,"taxQuery":[],"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock","outofstock","onbackorder"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[]},"tagName":"div","displayLayout":{"type":"flex","columns":5,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."},"className":"is-style-default"} -->
<div class="wp-block-woocommerce-product-collection is-style-default"><!-- wp:woocommerce/product-template -->
<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|4","margin":{"bottom":"var:preset|spacing|fluid-24"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--fluid-24)"><!-- wp:post-featured-image /-->

<!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"},"elements":{"link":{"color":{"text":"var:preset|color|foreground"},":hover":{"color":{"text":"var:preset|color|accent"}}}}},"fontSize":"fluid-x-large"} /-->

<!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","fontSize":"small"} /-->

<!-- wp:aggressive-apparel/product-color-swatches {"swatchSize":"xs","maxVisible":4,"showTooltip":false,"swatchAlignment":"center"} /--></div>
<!-- /wp:group -->
<!-- /wp:woocommerce/product-template -->

<!-- wp:query-pagination {"paginationArrow":"chevron","showLabel":false,"layout":{"type":"flex","justifyContent":"center","flexWrap":"nowrap"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:pattern {"slug":"aggressive-apparel/template-no-products"} /-->
<!-- /wp:query-no-results --></div>
<!-- /wp:woocommerce/product-collection --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"aggressive-apparel","tagName":"footer"} /-->
