/**
 * Typography
 *
 * @package Aggressive_Apparel
 */

body {
  font-family: var(--wp--preset--font-family--system-sans-serif);
  font-size: var(--wp--preset--font-size--medium);
  line-height: 1.6;
  color: var(--wp--preset--color--contrast);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--wp--preset--spacing--small);
  font-weight: 700;
  line-height: 1.2;
  color: var(--wp--preset--color--primary);
}

p {
  margin-top: 0;
  margin-bottom: var(--wp--preset--spacing--small);
}

strong,
b {
  font-weight: 600;
}

